@import 'vars';

body {
  font-weight: 400;
  line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1rem;
  font-family: $highlightsFontFamily;
  font-weight: 600;
  line-height: 1.3;
  color: inherit;

  @media (min-width: $tablet) {
    margin: 3rem 0 1.38rem;
  }

  &:first-child {
    margin-top: 0;
  }

  .section &:first-child {
    margin-top: 0;
  }
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: clamp(1.7rem, -0.875rem + 8.333vw, 2.2rem);
}

h3 {
  font-size: clamp(1.2rem, -1rem + 8.333vw, 2.2rem);
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

strong {
  color: inherit;
  font-weight: bold;
  font-family: $highlightsFontFamily
}

em {
  font-style: italic;
}
