$gap: 12px;
$mobile: 435px;
$tablet: 769px;
$desktop: 960px + (2 * $gap);
$widescreen: 1152px + (2 * $gap);
$fullhd: 1344px + (2 * $gap);

$container-width: $desktop;
$container-width-small: $tablet;

// colors
$primary: #ce2260;
$secondary: #811f60;
$tertiary: #e75f91;
$text: #FFFFFF;

//neon
$clearBg: #230638;
$darkBg: #050212;
$dark: #120458;
$primary: #FF124F;
$secondary: #FF00A0;
$tertiary: #FA7495;
$quaternary: #7A04EB;
$text: #FFFFFF;